.contact {
    position: relative;
    z-index: 2;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &-container {
        height: 817px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include media(992) {
            height: 573px;
        }

        @include media(700) {
            height: auto;
            padding: 48px 0;
        }
    }

    h2 {
        font-family: $font-coolvetica-condensed;
        font-weight: 400;
        font-size: 62px;
        line-height: 41px;
        margin-bottom: 32px;

        @include media(992) {
            font-size: 46px;
            line-height: 70%;
            max-width: 370px;
        }

        @include media(700) {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
        
        span {
            color: #f4925e;
        }
    }

    p {
        font-weight: 400;
        font-size: 18px;
        max-width: 631px;
        margin-bottom: 32px;

        @include media(992) {
            max-width: 370px;
            font-size: 15px;
        }

        @include media(700) {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
    }

    &-form {
        max-width: 347px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include media(992) {
            max-width: 314px;
        }

        @include media(700) {
            max-width: 100%;
        }
    }

    .btn-main {
        width: 100%;
    }

    .form-checkbox {
        width: 100%;
        margin-top: 20px;

        &__text {
            color: #fff;
        }
    }
}

.contact-home {
    padding: 20px 0 120px;

    @include media(992) {
        padding: 0 0 100px;
    }

    @include media(700) {
        padding-bottom: 84px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        @include media(992) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__content {
        width: 418px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include media(992) {
            width: 100%;
            position: relative;
        }
        
        .sec-title {
            line-height: 35px;

            @include media(992) {
                line-height: 31px;
            }

            @include media(700) {
                line-height: 27px;
            }
        }

        p {
            font-size: 18px;
            line-height: 13px;

            @include media(992) {
                font-size: 15px;
                line-height: 11px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            li {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            img {
                width: 21px;
                height: 21px;
                object-fit: contain;
                flex-shrink: 0;
            }

            p {
                font-size: 18px;
                line-height: inherit;
                color: #b8b8b8;
                
                a {
                    display: inline;
                    font-weight: 500;
                    color: #141414;
                }
            }
        }

        .btn-main {
            @include media(992) {
                position: absolute;
                top: 11px;
                right: 0;
            }

            @include media(700) {
                position: static;
            }
        }
    }

    &__map {
        max-width: 656px;
        width: 100%;
        display: flex;

        @include media(992) {
            max-width: 100%;
        }

        iframe {
            width: 100%;
            height: 371px;
            border-radius: 12px;
            overflow: hidden;

            @include media(992) {
                height: 263px;
            }

            @include media(700) {
                height: 183px;
            }
        }
    }
}